<div class="container">
  <h2 class="h2-past-type">Available Pasta, just for you!</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.cuisineaz.com/610x610/i9837-gnocchi-di-patate.jpg');">
        <div class="card-description">
          <h2>Gnocci</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn.shopify.com/s/files/1/1935/9089/products/rustichella-dabruzzo-orecchiette-product-shot-1000x1000_530x@2x.jpg?v=1523665518');">
        <div class="card-description">
          <h2>Orecchiette</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static3.depositphotos.com/1000789/120/i/950/depositphotos_1208604-stock-photo-pasta-fusili-as-background.jpg');">
        <div class="card-description">
          <h2>Fusili</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://static.pratico-pratiques.com/uploads/images/recipe_express/orig/c06248832d33b84d1ed86225e06968fb/pennes-sauce-cremeuse-au-parmesan-et-courge-butternut.jpeg');">
        <div class="card-description">
          <h2>Penne</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://st.depositphotos.com/1011845/2049/i/950/depositphotos_20497449-stock-photo-pasta-tortiglioni.jpg');">
        <div class="card-description">
          <h2>Tortiglioni</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://454a3915j1d326y4rhle8lk1-wpengine.netdna-ssl.com/wp-content/uploads/2017/10/Spaghettisalacarbonaradethon-1000x500.jpg');">
        <div class="card-description">
          <h2>Spaghetti</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center btn-to-formule">
    <%= link_to "Choose my formule", formules_path, class: "btn btn-primary" %>
  </div>
</div>
