<!-- TODO

OK A public accessible home page

OK with a form to allowed users to register (name, email, city, phone_number, password)

Each field must be validated in order to have data as accurate as possible. -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=707dd400ff0bb8d6b10e42397f7e275a&auto=format&fit=crop&w=1350&q=80');">
  <div class="banner-content">
    <h1>Pasta Fresca Box</h1>
    <p>The pleasure to eat pasta every weeks.</p>
    <a href="/pasta_types" class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

