<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- TODO

OK A public accessible home page

OK with a form to allowed users to register (name, email, city, phone_number, password)

Each field must be validated in order to have data as accurate as possible. -->

